name: ci-build

on:
  push:

jobs:
  ci-build:
    runs-on: ubuntu-latest
    steps:    
      # Checkout Repository
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: 'recursive'

      - name: YosysHQ setup
        uses: YosysHQ/setup-oss-cad-suite@v1
      
      - name: RISC-V GNU setup
        uses: gregdavill/setup-riscv-gnu-toolchain@v1.0
      
      - name: Configure python
        run: python3 -m pip install setuptools wheel meson ninja 

      - name: Patch
        working-directory: ./gateware/deps
        run: | 
          git apply --verbose --directory=gateware/deps/litesdcard 001-sdcard-clk-dly.patch

      # Build
      - name: Build project
        run: |
          pushd gateware
          python3 boson-sd-bitstream.py --lx-check-deps
          python3 boson-sd-bitstream.py --lx-print-env
          python3 boson-sd-bitstream.py --target boot
          python3 boson-sd-bitstream.py --target boot --update-firmware
          python3 boson-sd-bitstream.py --target main
          python3 boson-sd-bitstream.py --target main --update-firmware
          popd

